.contenido {
  width: 900px;
  margin: 0 auto;
}

body {
	font-family: 'Dancing Script';
  background-color: #02010a;
  margin: 0;
  color: black;
}

.top-bar {
  height: auto;
  background-color: #5b7989;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: -webkit-flex; /* Chrome, Safari, Opera */
	display: flex;
	-webkit-flex-flow: row wrap; /* Chrome, Safari, Opera */
	flex-flow: row wrap;
}

.top-bar div {
  width: 50%;
}

h1 {
  font-size: 2em;
  margin: 0px;
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
}

.nav {
  display: -webkit-flex; /* Chrome, Safari, Opera */
  display: flex;
  -webkit-justify-content: flex-end; /* Chrome, Safari, Opera */
  justify-content: flex-end;
  align-items: center;
}

.nav ul {
  font-size: 1.2em;
  margin: 0px;
  padding: 20px;
  list-style: none;
}

.nav li {
  display: inline;
  margin-left: 1em;
  margin-right: 1em;
}

.top-bar .nav a:link {
  color: white;
}

.top-bar .nav .retratos a:link {
  text-decoration: none;
}

.top-bar .nav .inicio .inicio1 {
  color: white;
}

.top-bar .nav .paisajes .paisajes1 {
  color: white;
}

.top-bar .nav .retratos .retratos1 {
  color: white;
}

.contenedor {
  background-color: #d5c75f;
  -webkit-display: flex; /* Chrome, Safari, Opera */
	display: flex;
	-webkit-flex-flow: row wrap; /* Chrome, Safari, Opera */
	flex-flow: row wrap;
}

.contenedor div {
  text-align: center;
	width: 33.33%;
}

.contenedor img {
  width: 80%;
  margin: 2em auto;
  padding: 0;
  border: 1px solid black;
  -webkit-filter: drop-shadow(2px 2px 0 #02010a); /* Chrome, Safari, Opera */
  filter: drop-shadow(2px 2px 0 #02010a);
}

#imagen1 img {
	-webkit-filter: blur(10px); /* Chrome, Safari, Opera */
	filter: blur(10px);
}

#imagen2, #imagen4, #imagen6 img {
	-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
	filter: grayscale(100%);
}

#imagen5 img {
	-webkit-filter: sepia(90%); /* Chrome, Safari, Opera */
	filter: sepia(90%);
}

.bottom-bar {
  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-display: flex; /* Chrome, Safari, Opera */
	display: flex;
	-webkit-flex-flow: row wrap; /* Chrome, Safari, Opera */
	flex-flow: row wrap;
}

.bottom-bar div {
  width: 25%;
  text-align: left;
}

.bottom-bar div h2 {
  margin: 0;
  padding: 25px 25px 5px 25px;
}

.bottom-bar div p {
  margin: 0;
  padding: 0px 25px 25px 25px;
}

.bottom-bar div img {
  width: 1em;
  filter: drop-shadow(0 0 0);
}


@media (max-width: 899px) {
  .contenido {
    width: 480px;
  }
  .top-bar div {
    width: 100%;
  }
  .contenedor div {
    width: 100%;
  }
  .bottom-bar div {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
  .nav {
    -webkit-display: flex; /* Chrome, Safari, Opera */
    display: flex;
    -webkit-justify-content: center; /* Chrome, Safari, Opera */
    justify-content: center;
    -webkit-align-items: center; /* Chrome, Safari, Opera */
    align-items: center;
  }
}


@keyframes contenido-animacion {
0% {
position: relative;
margin-top: 150%;
}
60% {
position: relative;
margin-top: -5%;
}
100% {
position: relative;
margin-top: 0%;
}
}

.contenido {
animation-name: contenido-animacion;
animation-duration: 1s;
-webkit-animation-delay: 0s; /* Chrome, Safari, Opera */
animation-delay: 0s;
}
